body {
    font-family: 'Arial', sans-serif;
    background:linear-gradient(to right,#3b3b3b,#eedb9f);
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
header {
    background:linear-gradient(to right,#3b3b3b,#eedb9f);
    color: #eedb9f;
    text-decoration: double;
    text-align: center;
    padding: 10px;
    display: flex;
    height: 100%;
}
section {
    
    border-radius: 50px;
    background-color:#333;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px;
    color: white;
    width: 1500px;
    height: 500px;
    display:block
    
}
section h2{
    text-align: center;
}
#div0{
    display: block;
    height: 899px;
}
#section1{
    background-image: url(Fncy.png);
    background-repeat: space;
    
}
#section1 p{
    margin-top:140px;
}
#section2{
    
    width: 50%;
    height: 50%;

}
#section2 img{
   
    width: 100%; /* ajusta el ancho según sea necesario */
    height: 100%; /* ajusta la altura según sea necesario */
    overflow: scroll;    

}
#section3 img{
    width: 200px; /* ajusta el ancho según sea necesario */
    height: 200px; /* ajusta la altura según sea necesario */
    overflow: scroll;
    margin-left: 100px;
}
h2{
    background:linear-gradient(to right,#3b3b3b,#eedb9f);
    color: #eedb9f;
    text-decoration: double;
    text-align:left;
    padding: 10px;
    border-radius: 30px;
}
button {
   background-color: #3b3b3b;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
h1{
    font-weight: bolder;
    -webkit-text-stroke: 2px #3b3b3b; /* Grosor y color del borde */
    color: #eedb9f;
    
    border-radius: 10px;
    text-align: center;
}
a{
    color: #eedb9f;
}
p{
  justify-content: center;
  padding: 10px;  
}
