body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(153, 116, 85, 0.404);
    margin: 0;
    padding: 0;
    text-align: center;
   
}
section {
    margin: 0 auto;
    padding: 20px;
    height:min-content;
    width: auto;
    display: block;
    text-align: justify;
    font-size: x-large;
    
            
}
button {
    background-color: #3b3b3b;
     padding: 5px 10px;
     border: 1px solid;
     border-radius: 10px;
     cursor: pointer;
     margin-left: 70px;
     margin-right: 40px;
     
 }
 a{
    color: #fffefe;
}