body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(/images/Diseño\ sin\ título.png);
    background-repeat: space;
    background-position: 1000px;
    background-size: 28%;   
}

header {
    background-color: gray;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 10px;
    height: 90px;
    background-image: url(/images/circulo_negro.png);
    background-repeat: no-repeat;
    background-size: 150px;
}

#inicio {
    height: 250px;
}

#contacte {
    height: 250px;
}

section a {
    color: #000000;
}

section {
    margin: 0 auto;
    padding: 20px;
    background-color: #222222;
    border: 5px solid #000000;
    border-style: ridge;
    height: 130px;
    width: 400px;
    display: block;
    margin-right: 700px;
    text-align: center;            
}
section h2 {
    color: white;
}

section p {
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    color: white;
}

header img {
    float: right;width: 115px; 
}

header h1{
    -webkit-text-stroke: 2px #747474;
}

footer {
    margin: 0 auto;
    padding: 5px;
    background-color: #797979;
    border: 5px solid #464545;
    font-size: smaller;   
}

a {
    color: white;
}